// Bootstrap
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

html, body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Roboto', sans-serif;
    color: #212121 !important;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    flex: 1;
    overflow: auto;
}

a {
    text-decoration: none !important;
    color: #FFF;
    transition: .6s;
}

a:hover {
    color: rgba(255, 255, 255, 0.6)
}

.btn-primary:hover, .btn-primary {
    background-color: #084776;
    border-color: #084776;
}


