<template>
    <b-container fluid>
        <b-container class="my-5">
            <b-row>
                <b-col cols="12">
                    <h1>RESULT:</h1>
                    <b-textarea v-model="result.result"
                                class="mb-3"
                                rows="15">
                    </b-textarea>
                </b-col>
                <b-col cols="12" md="6">
                    <p>Words before summarization: <b>{{result.words_before}}</b></p>
                    <p>Words after summarization: <b>{{result.words_after}}</b></p>
                    <p>Real compression: <b>{{(result.compression * 100).toFixed(2)}} %</b></p>
                </b-col>
                <b-col cols="12" md="6" class="d-flex justify-content-md-end align-items-md-start">
                    <b-btn variant="primary" @click="$router.push('/')">Summarize new text</b-btn>
                </b-col>
            </b-row>
        </b-container>
    </b-container>
</template>

<script>
    export default {
        name: 'result',
        data() {
            return {
                result: '',
                success: false
            }
        },
        created() {
            this.result = JSON.parse(localStorage.sumrryResult)
        }
    }
</script>
