<template>
    <b-container fluid>
        <b-container class="my-5">
            <b-row>
                <b-col class="sumrry-main">
                    <b-form @submit.prevent="summarize">
                        <p>
                            Please enter at least 2 paragraphs of text and min 300 words<br/>
                            Separate paragraphs by empty line.
                        </p>
                        <b-textarea v-model="inputText"
                                    class="w-100" rows="15"
                                    required></b-textarea>
                        <div class="form-group mt-3">
                            <label for="formControlRange">Compression rate: {{compression}}%</label>
                            <input type="range" class="form-control-range"
                                   min="10" max="60"
                                   required
                                   v-model="compression"
                                   id="formControlRange">
                        </div>
                        <div class="w-100 flex-center my-3" v-if="loading">
                            <b-spinner variant="primary"></b-spinner>
                        </div>
                        <b-alert variant="danger" v-model="invalidInput" dismissible >
                            Invalid input.
                        </b-alert>
                        <b-btn variant="primary" class="w-100" type="submit"
                        :disabled="loading">Submit text</b-btn>
                    </b-form>
                </b-col>
            </b-row>
        </b-container>
    </b-container>
</template>

<script>
    export default {
        name: 'sumrry',
        data() {
            return {
                compression: 20,
                inputText: '',
                loading: false,
                invalidInput: false
            }
        },
        methods: {
            summarize() {
                let data = {
                    compression: this.compression/100,
                    input_text: this.inputText
                }
                this.validate();
                if(this.invalidInput)
                    return false;
                this.loading = true;
                axios.post('/api/summarize', data).then(response => {
                    if (response.status === 200) {
                        localStorage.sumrryResult = JSON.stringify(response.data);
                        this.$router.push('/result')
                        console.log(response.data);
                    }
                })
            },
            validate() {
                let wordCount = 0;
                let paragraphs = this.inputText.replace(/\n$/gm, '').split(/\n/);
                paragraphs.forEach(item => {
                    wordCount += item.split(' ').length;
                })
                console.log('paragraphs: ' + paragraphs.length + ' words:' + wordCount);
                if (wordCount > 300 && paragraphs.length > 2) {
                    this.invalidInput = false;
                    return true;
                }
                this.invalidInput = true;
                return false;
            }
        }
    }
</script>
