<template>
    <b-container fluid class="sumit-footer sumrry">
        <b-container>
            <b-row>
                <b-col class="text-center text-white py-2">
                    <a href="https://sumit.sum.ba">Powered by SUMIT &copy; 2020</a>
                </b-col>
            </b-row>
        </b-container>
    </b-container>
</template>

<style>
    .sumit-footer {
        background: #084776;
    }
</style>
