<template>
    <b-container fluid class="sumrry-header">
        <b-container>
            <b-row>
                <b-col cols="12" md="10" class="text-white py-1">
                    <h2>SUMRRY</h2>
                    <h3>Text summarizer by SUMIT</h3>
                </b-col>
                <b-col cols="12" md="2" class="text-white py-2 d-flex align-items-center">
                    <b-img class="logo" src="/img/sum-it-white-svg.svg" fluid></b-img>
                </b-col>
            </b-row>
        </b-container>
    </b-container>
</template>

<style>
    .sumrry-header {
        background: #084776;
    }

    .logo {
        max-height: 50px;
    }
</style>
